/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


   @font-face {
      font-family: 'junction_regularregular';
      src: url('Junction-webfont.eot');
      src: url('Junction-webfont.eot?#iefix') format('embedded-opentype'),
           url('Junction-webfont.woff') format('woff'),
           url('Junction-webfont.ttf') format('truetype'),
           url('Junction-webfont.svg#junction_regularregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'seasideresortnfregular';
      src: url('SEASRN__-webfont.eot');
      src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
           url('SEASRN__-webfont.woff') format('woff'),
           url('SEASRN__-webfont.ttf') format('truetype'),
           url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

 body {
   font-family: 'junction_regularregular';

 }

 nav {
  background-color: #1CC8CC;
  padding: 10px;
  margin: 15px;
  position: relative;
 }


 #logo_text {
  background-color: black;
  border-radius: 100%;
  border: 3.5px solid #fff;
  color: white;
  width: 255px;
  height: 255px;
  margin:0 auto;
  font-size: 75px;
  font-family: 'seasideresortnfregular';
  height: 250px;
  text-align: center;
  line-height: 250px;
 }


 a, .form-btn  {
  display: inline-block;
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: #1CC8CC;
  border: 2px solid black;
  color: white;
  text-decoration: none;
  padding: 7px 8px;
  text-align: center;
  border-radius: 4px;
  margin: 0px 5px;
}

.form-btn {
  margin-top: 10px;
}

.nav_buttons {
  background-color: black;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  border: 2px solid white;
}

#add{
  position: absolute;
  top:10px;
  right:10px;
}

#in{
  position: absolute;
  right:10px;
  top:80px;
}

#up{
  position: absolute;
  right:10px;

  top:130px;
}

#out{
  position: absolute;
  right:10px;
  top:80px;
}


#logged_in {
  position: absolute;
  right:15px;
  bottom:5px;
}

section {
  width: 45%;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  display: inline-block;
}


h2 {
  font-family: 'seasideresortnfregular';
}

h1 {
  font-size: 20px;
  font-family: 'Josefin Slab', serif;}

#name {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 15px;

}

h4 {
  margin-right: 10px;
  font-style: italic;
  font-size: 12px;
  display: inline;
}

#created_by {
  display: block;
}

#list_reviews {
  list-style-type: none;
  line-height: 30px;
  text-align: left;
  text-indent: 5px;
}

#flash {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  width: 20% ;
  color: white;
  position: fixed;
  top: 25px;
  left: 180px;
  z-index: 1;
  display: inline-block;
  width: 20%;
}

form, input {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
  }

form {
  margin-top: 20px;
  margin-left: 20px;
  width: 240px;
  padding: 20px;
  position: relative;
  border: 2px solid black;
  border-radius: 4px;
}

#restaurant_form_title{
  text-align: left;
  margin-left: 45px;
}





